{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Repeat password" type="password">
        </div>
        <p class="hint" >Please enter a complex password consisting only of Latin letters and numbers,<br>at least 6 characters long, maximum - 15, at least one letter must be uppercase, and there must be at least 1 digit.</p>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
